<p>calculator works!</p>


<div class="container">
    <div class="calculator">
        <input type="text" placeholder="0" id="output" disabled>
        <button (click)="clear()">C</button>
        <button (click)="del()"><i class="fa fa-arrow-left"></i>
        </button>
        <button (click)="keyv('%')">%</button>
        <button (click)="keyv('/')">/</button>
        <button (click)="keyv('7')">7</button>
        <button (click)="keyv('8')">8</button>
        <button (click)="keyv('9')">9</button>
        <button (click)="keyv('*')">*</button>
        <button (click)="keyv('4')">4</button>
        <button (click)="keyv('5')">5</button>
        <button (click)="keyv('6')">6</button>
        <button (click)="keyv('-')">-</button>
        <button (click)="keyv('1')">1</button>
        <button (click)="keyv('2')">2</button>
        <button (click)="keyv('3')">3</button>
        <button (click)="keyv('+')">+</button>
        <button (click)="keyv('.')">.</button>
        <button (click)="keyv('0')">0</button>
        <button (click)="keyv('00')">00</button>
        <button (click)="pow()" class="pow">( )<span class="two">2</span></button>
        <button (click)="calculate()" class="equal">=</button><br>
        <button (click)="sqr()" class="sqr"><i class="fas fa-square-root"></i></button>

    </div>
</div>